.dashboardContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #f9fafb;

}

.header {
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-size: xx-small;
}